In [33]:
lista_estados = ['bahia', 'RIO DE JANEIRO!!!', '###São Paulo###', "ESPÍRiTo SaNto"]

In [8]:
import re

In [35]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[?#!]', '', value)
        value = value.title()
        result.append(value)
    return result

In [36]:
clean_strings(lista_estados)

['Bahia', 'Rio De Janeiro', 'São Paulo', 'Espírito Santo']

In [37]:
def remove_pontuation(string):
    return re.sub('[#?!]', '', string)

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [38]:
clean_ops = [str.strip, remove_pontuation, str.title]
clean_strings(lista_estados, clean_ops)

['Bahia', 'Rio De Janeiro', 'São Paulo', 'Espírito Santo']

In [39]:
#Map
"""map(funcao, collection) executa uma função para cada iteração de collection"""
for estado in map(remove_pontuation, lista_estados):
    print(estado)
lista_estados

bahia
RIO DE JANEIRO
São Paulo
ESPÍRiTo SaNto

['bahia', 'RIO DE JANEIRO!!!', '###São Paulo###', 'ESPÍRiTo SaNto']

In [40]:
#Lambda
def short_function(x):
    return x * 2
equiv_lambda = lambda x: x * 2

In [47]:
"""Ordenar uma lista de palavras pelo número de caracteres distintos"""
strings = ['foo', 'card', 'tom', 'aaa', 'sass']
strings.sort(key = lambda x: len(set(list(x))))
strings

['aaa', 'foo', 'sass', 'tom', 'card']

In [49]:
#Currying
"""Chamar uma função dentro de outra"""

'Chamar uma função dentro de outra'

In [50]:
#modo básico
def add(x, y):
    return x + y

def add_five(x):
    return add(5, x)
add_five(10)

15

In [56]:
#modo melhor
from functools import partial
add_five = partial(add, 5)
add_five(10)

15

In [65]:
#Geradores

def quadrados(n=10):
    print("Gerando quadrados de 1 a {0}".format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

gen = quadrados(10)
for x in gen:
    print(x, end='\n')

Gerando quadrados de 1 a 100
1
4
9
16
25
36
49
64
81
100

In [67]:
#Expressões Geradoras
"""Ánalogo a list, dict e set comprehensions, porém devem ser usados parênteses"""

gen = (x ** 2 for x in range(100))

#Equivalente a

def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [68]:
"""Funções geradoras podem ser usadas no lugar de comprehensions como argumento
de função em muitos casos"""

sum(x ** 2 for x in range(100))

328350

In [71]:
dict((i, i**2) for i in range(10))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [74]:
###Módulo Intertools###
import itertools

In [79]:
#Groupby
"""Aceita qualquer sequência e uma função, agrupando elementos consecutivos de uma sequência de acordo com o valor
de retorno da função"""

primeira_letra = lambda x: x[0]

nomes = ['Saulo', 'Samanta', 'Roberto', 'Rafael', 'Douglas', 'Raissa']

for letra, nomes in itertools.groupby(nomes, primeira_letra):
    print(letra, list(nomes))

S ['Saulo', 'Samanta']
R ['Roberto', 'Rafael']
D ['Douglas']
R ['Raissa']

In [93]:
#Outras funções de Itertools
"""
combinations(iterable, k)
Gera uma sequência de todas as tuplas possíveis 
de k elementos no iterável, ignorando a ordem e
sem substituição (veja também a função companheira
combinations_with_replacement)
permutations(iterable, k)
Gera uma sequência de todas as tuplas possíveis de 
k elementos no iterável, respeitando a ordem
produt(*iterables, repeat=1)
Gera o produto cartesiano dos iteráveis de entrada 
como tuplas, de modo semelhante a um laço for aninhado
"""

lista = [1, 2, 3, 4, 5]
print("Combinações")
for combinacao in itertools.combinations(lista, 4):
    print(combinacao)
print("Permutações")
for permutacao in itertools.permutations(lista[:3], 3):
    print(permutacao)

Combinações
(1, 2, 3, 4)
(1, 2, 3, 5)
(1, 2, 4, 5)
(1, 3, 4, 5)
(2, 3, 4, 5)
Permutações
(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)